{% extends "base.html" %}
{% load static %}
{% block content %}
            <div class="jumbotron">
                <h2 class="">
					Idaho Heritage Inn’s Geothermal Water System
				</h2>
                <p class="">
                    The Idaho Heritage Inn is plumbed into the Boise’s hidden natural resources, the Warm Springs Geothermal Water District.  This means that Hot Springs water runs directly into our Showers, Bathtubs and Sinks!  The water has a host of therapeutic and mineral benefits including sulfur, so we do not recommend that you wear silver into the showers because sulfur tarnishes silver on contact.  The tarnish comes right off with silver polish which you can request from the innkeeper if you need some.
                </p>
            </div>
            <div class="jumbotron">
                <h2 class="">
                    History of Boise’s Geothermal Water
				</h2>
                <p class="">
                    In many places throughout the United States, geothermal waters were used by Native Americans for bathing, cooking, warmth and medicinal purposes. Hot springs served as a neutral ground for warring tribes. Native Americans have a history at every major hot springs in the United States (U.S. Department of Energy, 2002). Some of the hot springs in Idaho were popular places for Native Americans to congregate as indicated by artifacts and petroglyphs on nearby rocks.
                </p>
                <p class="">
                    <a class="btn btn-primary" href="http://www.energy.idaho.gov/renewableenergy/history.htm">Learn more</a>
                </p>
            </div>
            <div class="jumbotron">
                <h2 class="">
                    Boise Warm Springs District
				</h2>
                <img class="img-responsive" src="{% static 'website/img/boise-natitorium.jpg' %}">
                <p class="">
                    In 1890 and 1891, the Boise Water Works Company completed two geothermal wells in an area east of Boise. Within a couple years, the nation’s first district heating system was birthed. Geothermal water was put to use along Warm Springs Avenue to heat over 200 buildings including homes, businesses, and the <a class="" href="https://parks.cityofboise.org/parks-locations/parks/natatorium-pool-and-hydrotube/">Boise Natatorium &amp; Hydrotube</a>. Owners of this heating district over the next 100+ years have included the Artesian Hot and Cold Water Company, Natatorium Company, Boise Water Corporation, and, today, the Boise Warm Springs Water District (Worbois, 1982).
                </p>
                <p class="">
                    By the 1930’s, the district heating system in east Boise was delivering water to approximately 400 residences, and a number of businesses (Dansart et al., 1994).
                </p>
                <p class="">
                    In 1974, the homeowners along Warm Springs Avenue purchased the district heating system that had begun operation in east Boise in 1892.
                </p>
                <p class="">
                    <a class="btn btn-primary" href="https://parks.cityofboise.org/parks-locations/parks/natatorium-pool-and-hydrotube/">Visit the Natatorium</a>
                </p>
            </div>
            <div class="jumbotron">
                <h2 class="">
                    Idaho has the only geothermally heated State Capitol Building.
                </h2>
                <img class="img-responsive" src="{% static 'website/img/boise-state-capitol.jpg' %}">
                <p class="">
                     In 1976, EGG/INEL drilled five test wells in the downtown Boise area with the goal of finding geothermal resources for district heating. At about the same time, the State of Idaho Capitol Mall complex was expanding. Governor Andrus requested a federal study to determine the feasibility of geothermal heat for the State’s buildings in Boise. In 1977, the State Health Laboratory was retrofitted for geothermal heat as a pilot project.
                </p>
                <p class="">
                In 1981, Boise Geothermal Limited (BGL) drilled four wells in an area northeast of downtown Boise and along the edge of the Boise Front Foothills (Figure 6). By 1983, BGL was supplying geothermal heat to customers in downtown Boise. In 1988, the City of Boise purchased the geothermal system from BGL. The current City system has over 50 customers. The system is used to heat about 1.8 million square feet. Some of the customers are the City Hall, Ada County Courthouse, Idaho Water Center, Boise High School and YMCA.
                </p>
                <p class="">
                The Veterans Administration (VA) in Boise drilled two geothermal wells in 1983 and another one in 1986. The geothermal heating system began servicing the VA buildings in 1988. The system is currently used to heat about 400,000 square feet in 22 buildings on the VA grounds.
                </p>
                <p class="">
                In Boise County in the 1980s, and 1990s, the Castle Mountain Creek subdivision northwest of Crouch saw a rapid growth in the use of geothermal resources for home heating. In a small area covering approximately two square miles, about 50 permanent-resident homes and weekend cabins are now being kept warm with geothermal water. Most of the homes and cabins use a method where the thermal energy is transferred from the water in the well bore to a water-filled, closed-looping piping system. Thus, there is no extraction of water from the well using this technology, only heat.
                </p>
                <p class="">
                New geothermal production caused some water management problems in the 1980s. Declining water levels forced the state to create, in rapid succession, three Ground Water Management Areas (GWMA) (Figure 7) and a Ground Water District in Ada County. Further restrictions were issued in the form of moratoriums in the Boise and Twin Falls areas.
                </p>
                <p class="">
                The Boise Front Low Temperature Geothermal Resource GWMA (north central Ada County) was established in 1987. The Stewart Gulch Ground Water District was created in 1989 by the state to manage geothermal ground water supplies in a portion of the Boise Front Low Temperature Geothermal Resource GWMA. Moratoriums were put in place to further limit geothermal developments in the Twin Falls and Boise areas in 1987 and 1988, respectively. The original term of each moratorium was five years. The Twin Falls moratorium was extended in 1992, 1997, 2002 and 2007. The Boise moratorium was also extended in 1993, 1998 and 2003, and is scheduled for review in 2008.
                </p>
                <p class="">
                In the mid 1990s, a computer modeling study was conducted for the Boise geothermal system in an effort to predict how water levels and water temperatures might be affected by different production/injection scenarios. In 1999, the City of Boise began re-injecting their used geothermal water into the aquifer through a newly completed injection well (Figure 8). Since 1999, water levels in nearby wells have risen significantly and in a manner similar to the modeling predictions. In 2001, the City of Boise requested an increase in their production ceiling of 200 million gallons per year. Although this request was protested by several of the Boise geothermal users and the dispute went to a hearing, in 2002, the City of Boise was granted a 15% increase to 230 million gallons per year.
                </p>
                <p class="">
                In 1998, the City of Boise drilled a well to re-inject spent geothermal fluids into the aquifer.
                </p>
                <p class="">
                In May, 2001, Senator Larry Craig sponsored a workshop in Boise for Idaho’s geothermal stakeholders. A team called the Idaho Geothermal Energy Working Group was formed as a result of the workshop. With financial support from the U.S. Department of Energy’s GeoPowering the West Program, the Geothermal Energy Working Group developed plans and guidelines to help with geothermal resource developments in Idaho. The highlights of these efforts include geothermal strategic plans for the communities of Cascade and Lava Hot Springs, and 17 technical studies (engineering, economic and geothermal resource investigations) completed and documented in written reports.
                </p>
                <p class="">
                Fortunately, in the past several years, we’ve seen some silver linings in the clouds. The addition of an injection well in Boise resulted in a partial lifting of the production ceiling, which was a major accomplishment in a tightly regulated aquifer system.
                </p>
                <p class="">
                    <a class="btn btn-primary" href="http://www.capitolcommission.idaho.gov/">Visit the Capitol</a>
                </p>
            </div>
{% endblock content %}
