{% extends "base.html" %}
{% load static %}
{% block content %}
            <div id="welcome" class="jumbotron row">
                <h1 class="">
					Welcome
				</h1>
                <p class="">
                    All rooms at the Inn have been comfortably and charmingly provided with private baths, flat-screen TV with cable channels, period furniture, and cozy comforters.  Spacious main floor common rooms include a large entry hall, formal dining room, living room, featuring diamond-paned French doors, oak flooring, oriental carpets and plentiful, comfortable seating. On-premise a computer  is available for printing boarding passes, checking e-mail and other business or personal needs. A fax is also available  and the house has a secure wireless network.
                </p>
            </div>
            <!-- <div id="rooms" class="jumbotron row"> -->
                <h1 class="">
			    	Rooms
			    </h1>
            <div class="row equal portfolio">
                {% for room in rooms %}
                <div class="col-md-4 {{room.slug}}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-responsive img-thumbnail" src="{{room.image.url}}">
                        </div>
                        <div class="panel-footer">
                            <h3 class="room-name">{{room.name}}</h3>
                            <h4 class="room-cost">{{room.cost}}</h4>
                            <p class="room-desc">
                                {{room.description}}
                            </p>
                            <p class="book-now">
                                <a class="btn btn-primary" href="https://secure.rezovation.com/Reservations/CheckAvailability.aspx?_0QFGJVN6HWUIUU">Book Now</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter == 3 %}
                </div>
                <div class="row equal portfolio">
                {% endif %}
                {% endfor %}
            </div>
            <!--</div id="rooms">-->
            <div id="breakfast" class="jumbotron row">
                <h1 class="">
                    Complimentary Breakfast
				</h1>
                <p class="">
                    Breakfast includes juice, coffee or tea, fresh fruit in season, and a delectable entree. A complimentary goblet of  wine, a good book or some friendly conversation is never hard to find in the evening
                </p>
            </div>
            <div id="food" class="row portfolio">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-responsive img-thumbnail" src="{% static 'website/img/food1.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-responsive img-thumbnail" src="{% static 'website/img/food2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-responsive img-thumbnail" src="{% static 'website/img/food3.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div id="bike" class="jumbotron row">
                <h1 class="">
					Complementary Bycicles
				</h1>
                <img class="img-responsive col-md-4 img-center" src="{% static 'website/img/bike.jpg' %}">
                <p class="">
                    Trek Bicycles are available to tour the nearby Greenbelt path or historic East end neighborhood.
                </p>
            </div>
            <div id="geothermal" class="jumbotron row">
                <h1 class="">
	    		    Geothermal Water
			    </h1>
                <p class="">
                    The Idaho Heritage Inn is plumbed into the Boise’s hidden natural resources, the Warm Springs
                    Geothermal Water District.  This means that Hot Springs water runs directly into our Showers,
                    Bathtubs and Sinks!  The water has a host of therapeutic and mineral benefits including sulfur,
                    so we do not recommend that you wear silver into the showers because sulfur tarnishes silver on
                    contact.  The tarnish comes right off with silver polish which you can request from the innkeeper
                    if you need some.
                </p>
                <p class="">
                    <a class="btn btn-primary btn-large" href="{% url 'geothermal' %}">Learn more</a>
                </p>
            </div>
            <div id="history" class="jumbotron row">
            	<h1 class="">
		    		History
	    		</h1>
                <img class="img-responsive col-md-4 img-center" src="{% static 'website/img/old-inn.jpg' %}">
                <p class="">
                    The Idah Heritage INN was built in 1904 for one of Boise’s early merchants, Henry Falk.
                    The Falk family owned The Mode department store downtown which still houses retail shops.
                    The Inn remained in the Falk family until 1943, when it was purchased by then-Governor
                    Chase A. Clark.
                </p>
                <p class= "">
                    Governor Clark enjoyed a prestigious career in public service which culminated
                    in his appointment as a federal judge. The home was used by the Clark’s daughter, Bethine,
                    and her husband, Senator Frank Church, as their Idaho residence during Senator Church’s 24
                    year tenure in the U.S. Senate. The home remained in the Clark/Church family until 1987, when
                    it was restored as a Bed &amp; Breakfast. Now on the National Register of Historic Places, the
                </p>
            </div>
{% endblock content %}
