branch-defaults:
  master:
      environment: heritageinn-env
global:
  application_name: heritageinn
  default_ec2_keyname: aws-eb
  default_platform: Python 3.4 (Preconfigured - Docker)
  default_region: us-west-2
  profile: eb-cli
  sc: git
container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
